html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

capacitor-welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
